  body {
  margin: 0 auto;
  width: 800px;
  height: 800px;
  font-family: arial, sans-serif;
  text-align: center;
  background-image: radial-gradient(#E4F1F2, #ADDADE, #8ADCE3, #46D6E3, #12D2E3);
  padding-top: 100px;
}

#appContainer {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


#zipSubmit {
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#zipCode {
  width: 500px;
  height: 50px;
  text-align: center;
  font-size: 25px;
  margin-top: 10px;
  letter-spacing: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 5px 10px black;
}

#submit {
  width: 250px;
  height: 52px;
  border-radius: 5px;
  border-color: orange;
  margin-top: 10px;
  font-size: 20px;
  text-align: center;
  background-color: orange;
  box-shadow: 0px 5px 10px black;
}


#cityName {
  font: 35px black bold arial;
  font-family: arial, sans-serif;
  margin-bottom: 5px;
  padding-top: 15px;
}

#temp {
  font: 50px black bold;
  font-family: arial, sans-serif;
  margin-bottom: 5px;
}

#description {
  font: 30px black bold;
  font-family: arial, sans-serif;
  margin-bottom: 5px;
}

#low {
  font-size: 25px;
  font-family: arial, sans-serif;
  margin-bottom: 5px;
}

#high {
  font-size: 25px;
  font-family: arial, sans-serif;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

p {
  font-size: 12px;
  color: darkblue;
}

h1 {
  font-size: 80px;
  letter-spacing: 8px;
  padding-bottom: 20px;
  text-shadow: 0px 3px 3px white;
}

.weatherContainer {
  height: 300px;
  width: 576px;
  /* border: 1px solid black; */
  border-radius: 20px;
  background-image: url(../assets/skyline-01-new-york-city.jpg);
  background-blend-mode: soft-light;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: 0px 10px 15px black;
  padding: 10%;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#placeHolder {
  margin: auto;
  letter-spacing: 5px;
  color: white;
  letter-spacing: 6px;
  font-size: 30px;
  text-shadow: 0px 3px 3px black;
}

#tempContainer{
  background-color: white;
  width: 100%;
  height: 100%;
  margin-top: 10px;
  border-radius: 20px;
  opacity: .7;
  box-shadow: 0px 10px 15px black;
  text-shadow: 0px 1px 1px purple;
}

.display-none{
  display: none; 
}
